*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties

# Shared Libraries & Native Binaries
*.so

# Copyrighted game assets (PVR, POD, Scene data, Audio)
*.pvr
*.PVR
*.pvr.png
*.pod
*.POD
*.scene
*.scl
*.wav
*.ogg
